.login-form {
  width: 500px;
  margin: 0 auto !important;
  margin-top: 20vh !important;
}

.btn_link {
  border: none !important;
  background-color: transparent !important;
  color: blue !important;
  text-decoration: underline !important;
}
